<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.nkming.powermenu" >

	<uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
	<uses-permission android:name="android.permission.REBOOT" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.RECOVERY" />
	<uses-permission android:name="android.permission.SHUTDOWN" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name">

		<activity
			android:name=".LauncherActivity"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.NoDisplay"
			android:taskAffinity="@string/affinity_main">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".MainActivity"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:theme="@style/AppTheme"
			android:exported="false"
			android:taskAffinity="@string/affinity_main">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service
			android:name=".PersistentService"
			android:exported="false"/>

		<service
			android:name=".SystemOverrideService"
			android:exported="false"/>

		<service
			android:name=".DeleteScreenshotService"
			android:exported="false" />

		<activity
			android:name=".InstallActivity"
			android:excludeFromRecents="true"
			android:exported="false"
			android:icon="@mipmap/ic_launcher_config"
			android:theme="@style/AppThemeDialog">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".PreferenceActivity"
			android:theme="@style/AppThemePreference"
			android:icon="@mipmap/ic_launcher_config"
			android:label="@string/app_pref_name"
			android:taskAffinity="@string/affinity_pref">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".BootReceiver">

			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<activity
			android:name=".ShutdownActivity"
			android:label="@string/activity_label_shutdown"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.NoDisplay"
			android:taskAffinity="@string/affinity_main">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".RebootActivity"
			android:label="@string/activity_label_reboot"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.NoDisplay"
			android:taskAffinity="@string/affinity_main">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".RebootRecoveryActivity"
			android:label="@string/activity_label_reboot_recovery"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.NoDisplay"
			android:taskAffinity="@string/affinity_main">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".RebootBootloaderActivity"
			android:label="@string/activity_label_reboot_bootloader"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.NoDisplay"
			android:taskAffinity="@string/affinity_main">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".SoftRebootActivity"
			android:label="@string/activity_label_soft_reboot"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.NoDisplay"
			android:taskAffinity="@string/affinity_main">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".SleepActivity"
			android:label="@string/activity_label_sleep"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.NoDisplay"
			android:taskAffinity="@string/affinity_main">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ScreenshotActivity"
			android:label="@string/activity_label_screenshot"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.NoDisplay"
			android:taskAffinity="@string/affinity_main">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
</manifest>
